/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

/* NAV (section-1)*/
.section-1 { 
    background-color: #255ee9;
}

.navigation {
    padding: 5px 0;
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-1 {
    display: flex;
    justify-content: space-around;
}

.nav-1 {
    display: flex;
    padding-top: 10px;
}

.nav-2 {
    background-color: white;
    padding-top: 12px;
    padding-right: 20px;
    border-radius: 30px;
}   

.link-nav {
    padding-left: 20px;
    list-style-type: none;
}

.login {
    color: black;
}

/* NAV (section-2)*/
.section-2 { 
    background-image: url(../img/jumbo.png);
    background-size: cover
}

.nav-3 {
    padding: 36px;
    margin: 205px 0; 
    text-align: center;
    color: white;
}
 
.title-header {
    font-size: 45px;
    padding-bottom: 30px;
}

.p-header {
    font-size: 20px;
    padding: 5px 0;
}

.link-header {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    margin: 36px;
}

.download-discord { 
    margin-right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}   

.black-link {
    color: black;
}

.open-discord { 
    background-color: #23272b;
    padding: 13px;
    border-radius: 30px;
}

/* MAIN (section-1) */
.item-1 {
    margin-top: 50px;  
    margin-right: 40px;
    margin-left: 170px;                          
}

.container {
    margin-top: 85px;
}

h2 {
    font-size: 40px;
    padding-bottom: 30px;
}

/* MAIN (section-2) */
.main-section {
    background-color: #d3d3d3; 
}

.item-2 {
    margin-top: 180px;
    padding-bottom: 150px;
}

.container-1 {
    margin-top: 215px;
    margin-right: 110px;
}

/* MAIN (section-3) */
.item-3 {
    margin-top: 150px;
    padding-bottom: 150px;
    padding-right: 60px;
    padding-left: 150px;
}

.container-2 {
    margin-top: 195px;
    margin-right: 110px;
}

/* MAIN (section-4) */
.container-3 {
    text-align: center;
    padding-top: 160px;
    padding-left: 135px;
    padding-bottom: 100px;
}

h3 {
    font-size: 30px;
}

.h3-main {
    background-image: url(../img/stars.svg);
    padding: 5px; 
    background-size: contain;
    padding: 10px;
    background-position: center;
}

.download-discord-1 {
    margin-right: 20px;
    background-color: #7087da;
    padding: 10px;
    border-radius: 30px;
}

.item-4 {
    width: 80rem;
}

/* FOOTER (section-1)*/
footer {
    background-color: #23272a;
    padding-top: 85px;
}

.footer-section {
    display: flex;
    justify-content: space-around;
}

.section-1-footer {
   color: white;
}

.h3-span-footer {
    color: #3f4c70;
    padding-bottom: 20px;
}

.flag {
    max-width: 20px;
}

.symbols-footer {
    padding-top: 20px;
}

.brand {
    padding-right: 20px;
}

.ul-footer {
    list-style-type: none;
}

.li-footer {
    padding-bottom: 20px;
    color: white;
}

/* FOOTER (section-2)*/
hr {
    margin: 20px 50px 20px 140px;
}

.flex-footer-section-1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.logo-1 {
    padding-left: 140px;
}

.nav-4 {
    background-color: #3f4c70;
    padding: 10px;
    border-radius: 30px;
    list-style-type: none;
    margin-right: 50px;
}