/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
}

/* NAV (part-1)*/
.section-1 { 
    background-color: #255ee9;
}

.navigation {
    padding: 5px 0;
    margin-top: 10px;
}

.border {                                           da togliere  
    border: 1px dashed black;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-1 {
    display: flex;
    justify-content: space-around;
}

.nav-1 {                                           da togliere
    
}

.nav-2 {
    display: flex;
    padding-top: 10px;
}

.nav-3 {
    background-color: white;
    padding-top: 12px;
    padding-right: 20px;
    border-radius: 30px;
}   

.link-nav {
    padding-left: 20px;
    list-style-type: none;
}

/* NAV (part-2)*/
.section-2 { 
    background-image: url(../img/jumbo.png);
    background-size: cover
}

.nav-4 {
    padding: 36px;
    margin: 205px 0; 
    text-align: center;
    color: white;
}
 
.title-header {
    font-size: 45px;
    padding-bottom: 30px;
}

.p-header {
    font-size: 20px;
    padding: 5px 0;
}

.link-header {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    margin: 36px;
}

.download-discord { 
    margin-right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}   

.open-discord{
    background-color: #23272b;
    padding: 13px;
    border-radius: 30px;
}

/* MAIN */
.blu {
    background-color: #1e90ff;
    width: 460px;
    min-height: 250px;
}

.pink {
    background-color: #ffc0cb;
    width: 240px;
    min-height: 250px;
}

.margin {
    margin: 30px 0px; 
}

.main-section {
    background-color: #d3d3d3;
}

.green {
    background-color: #228b22;
    width: 700px;
    min-height: 470px;
}

/* FOOTER (part-1)*/
.footer-section {
    background-color: #23272a;
}

.margin-1 {
    margin-top: 8px;
    margin-bottom: 30px;
}

.rose {
    background-color: #f08080;
    width: 300px;
    min-height: 280px;
}
  
.lightgreen {
    background-color: #20b2aa;
    width: 100px;
    min-height: 280px;
    border: 1px dashed white;
}

/* FOOTER (part-2)*/
.watergreen {
   background-color:  #7fffd4;
   margin-top: 30px;
   width: 700px;
   min-height: 50px;
}

.logo-button {
    background-color: #ffb6c1;
    border: 1px dashed black;
    margin: 10px 0;
    padding: 5px;
}

.flex-2 {
    display: flex;
    justify-content: space-between;
}